[global_config]
  enabled_plugins = Logger, CustomCommandsMenu, ActivityWatch, InactivityWatch, LaunchpadBugURLHandler, LaunchpadCodeURLHandler, APTURLHandler, TerminalShot, TestPlugin, MavenPluginURLHandler
  always_split_with_profile = True
[keybindings]
  broadcast_off = <Alt>z
  broadcast_group = <Alt>i
[profiles]
  [[default]]
    audible_bell = True
    visible_bell = True
    urgent_bell = True
    background_darkness = 0.8
    cursor_color = "#aaaaaa"
  [[Light]]
    background_color = "#ffffff"
    background_darkness = 0.8
    background_type = transparent
    cursor_color = "#aaaaaa"
    foreground_color = "#000000"
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
